<p id="notice"><%= notice %></p>

<h1>Friends</h1>


<div class="list-group">
  <% @friendships.each do |friendship| %>
    <li class="list-group-item"><%= User.find(friendship.friend_id).email %> <%= link_to 'Remove Friend', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</div>

<%= link_to 'New Friendship', new_friendship_path %>
