<header class="intro-header" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('http://www.theloop.ca/wp-content/uploads/2016/04/kids_on_phones.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Chatbook</h1>
                    <hr class="small">
                    <span class="subheading">Welcome to the place for Chatting</span>
                </div>
            </div>
        </div>
    </div>
</header>